.content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .join {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .create-btn {
    width: 100%;
  }
  
  .message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(179, 155, 155, 0.658);
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
  }
  
  .messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
  
  .inputs {
    padding: 10px;
    display: flex;
  }
  
  h2 {
    text-align: center;
  }
  
  #message {
    flex: 1;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .muted {
    font-size: 14px;
    color: black;
  }

  /* Your CSS file, e.g., styles.css */
.form-heading {
    color: #333;
  }
  
  .form-label {
    color: #333;
  }
  
  .form-input {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #333;
  }
  
  .join-button {
    background-color: #0074cc;
    color: #fff;
    border: none;
  }
  
  .create-btn {
    background-color: #00a859;
    color: #fff;
    border: none;
  }
  
  .error {
    color: #ff0000;
  }
  